<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>DelishMe</title>

    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>

<body>
    <div class="header">
        <nav>
            <a href="@Url.Action("Index", "Home")"><img src="~/images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <box-icon name='window-close'></box-icon><!--заменить иконки-->
                <h1>@ViewBag.Title</h1>
                <section class="left">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="@Url.Action("Index", "Customers")">Customers</a></li>
                        <li><a href="@Url.Action("Index", "Dishes")">Dishes</a></li>
                        <li><a href="@Url.Action("New", "Orders")">New Order</a></li>
                        <li><a href="@Url.Action("FAQ", "Home")">FAQ</a></li>
                        <li><a href="@Url.Action("Privacy", "Home")">Privacy</a></li>
                    </ul>
                </section>
                <section class="right">
                    <h2>@ViewBag.Title</h2>
                    <ul>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </section>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i> <!--заменить иконки-->
        </nav>
    </div>

    <!-- Область, где будет вставлено содержимое каждого конкретного представления -->
    <main>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">
                &copy; @DateTime.Now.Year DelishMe. Все права защищены.
            </span>
            <div>
                <a href="https://www.instagram.com/yelimlizza/" target="_blank">Instagram</a> |
                <a href="https://t.me/bizarrrt" target="_blank">Telegram</a>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/index.js"></script>
</body>
</html>
