<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>DelishMe</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">




</head>



<body>


    <div class="header">
        <nav>

            <a href="@Url.Action("Index", "Home")"><img src="~/images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <box-icon name='window-close'></box-icon><!--заменить иконки-->

                <h1>@ViewBag.Title</h1>
                <section class="left">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/">MY DISHES</a></li>
                        <li><a href="/">TOP RECIPIES</a></li>
                        <li><a href="/">ORDER</a></li>
                        <li><a href="/">SAVED ITEMS</a></li>
                        <li><a href="@Url.Action("FAQ", "Home")">FAQ</a></li>
                    </ul>
                </section>
                <section class="right">
                    <h2>@ViewBag.Title</h2>
                    <ul>
                        <li><a href="/">Sign up</a></li>
                        <li><a href="/">Log in</a></li>
                    </ul>
                </section>


            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i> <!--заменить иконки-->
        </nav>
    </div>

    <!-- Область, где будет вставлено содержимое каждого конкретного представления -->
    <main>
        @RenderBody()


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

    </main>

    <div class="footer">
        <h4>About Us</h4>
        <p>sdijgsdghsdhgkgjkdsg <br>sdlgjusdguhdsgh</p>
        <div class="icons">
            <!--добавить иконки для инсты и соцсетей-->
            <i class="fa fa-facebook"></i>
            <i class="bx bx-shopping-bags nav__logo-icon bx-xl"></i>
            <i class="fa fa-telegram"></i>
        </div>
        <p>Made <box-icon name='heart'></box-icon> by Liza and Artiom</p>
    </div>

    <script src="~/Scripts/index.js"></script>



</body>

</html>
